<nav class="navbar navbar-expand-lg navbar-dark bg-blue">
    <a class="navbar-brand" href="#">GESTIÓN DE FALLAS FTA V3</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">GESTIÓN DE MONITOREO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/gestion-eventos/nuevo-evento" routerLinkActive="active">GESTIÓN DE EVENTOS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/home-1" routerLinkActive="active">GESTIÓN DE CLIENTES</a>
          </li>
      </ul>
    </div>
  </nav>